
  <swiper [config]="config">
    <div class="swiper-wrapper">
      <div *ngIf="mobile;then verdadero else falso"></div>
      <ng-template #verdadero>
        <img class="swiper-slide" *ngFor="let image of imagesp" [src]="image" />
      </ng-template>
      <ng-template #falso>
        <img class="swiper-slide" *ngFor="let image of images" [src]="image" />
      </ng-template>

    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>

     <!-- Add Pagination -->
     <div class="swiper-pagination"></div>
     <!-- Add Arrows -->
     <div class="swiper-button-next"></div>
     <div class="swiper-button-prev"></div>
  </swiper>


