<!-- Site footer -->
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12">
        <h6>About</h6>
        <p class="text-justify">Remicos S.A.S. © 2021, todos los derechos reservados.</p>
        <p><i class="fa fa-phone"></i> 317 5027179</p>
        <p><i class="fa fa-envelope"></i> pqrs@remicos.com.co</p>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-12 ">
        <h6>Categories</h6>
        <ul class="footer-links">
          <li><a href="http://scanfcode.com/category/c-language/">C</a></li>
          <li><a href="http://scanfcode.com/category/front-end-development/">UI Design</a></li>
          <li><a href="http://scanfcode.com/category/back-end-development/">PHP</a></li>
          <li><a href="http://scanfcode.com/category/java-programming-language/">Java</a></li>
          <li><a href="http://scanfcode.com/category/android/">Android</a></li>
          <li><a href="http://scanfcode.com/category/templates/">Templates</a></li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-12 ">
        <h6>Quick Links</h6>
        <ul class="footer-links">
          <li><a href="http://scanfcode.com/about/">Acerca de nosotros</a></li>
          <li><a href="http://scanfcode.com/contact/">Contactenos</a></li>
          <li><a href="http://scanfcode.com/contribute-at-scanfcode/">Contibuir</a></li>
          <li><a href="http://scanfcode.com/privacy-policy/">Politica de Privacidad</a></li>
          <li><a href="http://scanfcode.com/sitemap/">Proteccion de datos</a></li>
          <li><a href="http://scanfcode.com/sitemap/">Sitemap</a></li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-12 ">
        <p class="copyright-text ">Siguenos en las redes sociales</p>
      </div>

      <div class="col-lg-2 col-md-2 col-sm-12">
        <ul class="social-icons">
          <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a class="Telegram" href="#"><i class="fa fa-telegram"></i></a></li>
        </ul>
      </div>
    </div>
    <hr>
  </div>
</footer>

