@media (min-width: 100px) and (max-width: 575px) {
  agm-map {
    height: 500px;
  }
  .col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  agm-map {
    height: 500px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  agm-map {
    height: 500px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  agm-map {
    height: 500px;
  }
}

@media (min-width: 1200px) {
  agm-map {
    height: 500px;
  }
}


agm-map {
  height: 400px;
}

h1 {
  font-size: 1.7vw;
}
